<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
    <listener class-name="listeners.My_Listeners" />
  </listeners>

  <test thread-count="4" name="Test_run">
    <classes>
      <class name="pom_Tests.Search_Test"/>
      <class name="pom_Tests.Login_Test"/>
      <class name="base_test.base_test"/>
      <class name="pom_Tests.Register_Test"/>
    </classes>
    
  </test> <!-- Test_run -->
</suite> <!-- Suite -->
